<%= form_for(@tipo_apuestum) do |f| %>
  <% if @tipo_apuestum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_apuestum.errors.count, "error") %> prohibited this tipo_apuestum from being saved:</h2>

      <ul>
      <% @tipo_apuestum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
