<h1>Listing tipo_apuesta</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_apuesta.each do |tipo_apuestum| %>
  <tr>
    <td><%= tipo_apuestum.name %></td>
    <td><%= link_to 'Show', tipo_apuestum %></td>
    <td><%= link_to 'Edit', edit_tipo_apuestum_path(tipo_apuestum) %></td>
    <td><%= link_to 'Destroy', tipo_apuestum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo apuestum', new_tipo_apuestum_path %>
